---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-custom-page
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>Demo Talos Linux</title>
      <style>
        body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; background-color: #1a1a1a; color: #ffffff; }
        .container { background: #2d2d2d; padding: 40px; border-radius: 10px; box-shadow: 0 4px 15px rgba(0,0,0,0.5); display: inline-block; border-top: 5px solid #326ce5; }
        h1 { color: #326ce5; } /* Azul Kubernetes */
        .success { color: #4caf50; font-weight: bold; }
      </style>
    </head>
    <body>
      <div class="container">
        <h1>¡Nginx Desplegado con Éxito!</h1>
        <p>Si estás viendo esto, significa que tu clúster de <span class="success">Talos Linux</span> está funcionando correctamente.</p>
      </div>
    </body>
    </html>
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        # 2. Le decimos a Nginx dónde montar el archivo
        volumeMounts:
        - name: html-volume
          mountPath: /usr/share/nginx/html/index.html
          subPath: index.html
      # 1. Definimos el volumen apuntando a nuestro ConfigMap
      volumes:
      - name: html-volume
        configMap:
          name: nginx-custom-page
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080